<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
	<section id="service.wireguard.manager.linux">
		<category id="general" label="32000" help="">
			<group id="1" label="32034">
				<setting id="first_run" type="boolean" label="First Run Handled">
					<level>4</level>
					<default>false</default>
				</setting>
				<setting id="setup_version" type="string" label="Setup version pending">
					<level>4</level>
					<default>1.0.0</default>
				</setting>
				<setting id="last_vpn_update_time" type="string" label="Last VPN config update time">
					<level>4</level>
					<default>0</default>
				</setting>
				<setting id="short_warn" type="action" label="32001" help="32002">
					<level>0</level>
					<control type="button" format="action">
						<label>32002</label>
					</control>
				</setting>
				<setting id="disconnect_on_start" type="boolean" label="32033" help="32036">
					<level>4</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="auto_connect" type="boolean" label="32079" help="32080">
					<level>4</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="session_restore_on_start" type="boolean" label="32085" help="32086">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="session_migrated" type="boolean">
					<level>4</level>
					<default>false</default>
				</setting>
			</group>
			<group id="100" label="32037">
				<setting id="vpn_provider" type="integer" label="32038" help="32044">
					<level>0</level>
					<default>-1</default>
					<constraints>
						<options>
							<option label="None">-1</option>
							<option label="NordVPN">0</option>
							<option label="Private Internet Access (PIA)">1</option>
							<option label="MullvadVPN">2</option>
							<option label="Custom (Import .config file)">99</option>
						</options>
					</constraints>
					<control type="list" format="integer"/>
				</setting>
				<setting id="import_token_file" parent="vpn_provider" type="action" label="32016" help="32050">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">0</dependency>
					</dependencies>
					<level>0</level>
					<data>RunScript(service.wireguard.manager.linux, mode=import_token)</data>
					<control type="button" format="action"/>
				</setting>
				<setting id="vpn_token" parent="vpn_provider" type="string" label="32003">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">0</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
				</setting>
				<setting id="import_cred_file" parent="vpn_provider" type="action" label="32048" help="32049">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">1</dependency>
					</dependencies>
					<level>0</level>
					<data>RunScript(service.wireguard.manager.linux, mode=import_creds)</data>
					<control type="button" format="action"/>
				</setting>
				<setting id="pia_user" parent="vpn_provider" type="string" label="32040">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">1</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>32040</heading>
					</control>
				</setting>
				<setting id="pia_pass" parent="vpn_provider" type="string" label="32041">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">1</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>32041</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="import_mullvad_account_file" parent="vpn_provider" type="action" label="32077" help="32078">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">2</dependency>
					</dependencies>
					<level>0</level>
					<data>RunScript(service.wireguard.manager.linux, mode=import_mullvad)</data>
					<control type="button" format="action"/>
				</setting>
				<setting id="account_number" parent="vpn_provider" type="string" label="32071">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">2</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>32071</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="import_custom_action" parent="vpn_provider" type="action" label="32042" help="32047">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">99</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<data>RunScript(service.wireguard.manager.linux, mode=import_custom_browser)</data>
					<control type="button" format="action">
						<label>32047</label>
					</control>
				</setting>
			</group>
		</category>
		<category id="provider_specific" label="32061" help="">
			<group id="15" label="32056">
				<setting id="update_interval_hours" type="number" label="32057" help="32058">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>24.0</default>
					<constraints>
						<minimum>1.0</minimum>
						<step>1.0</step>
						<maximum>168.0</maximum>
					</constraints>
					<control type="slider" format="number">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="check_tunnel" parent="update_interval_hours" type="boolean" label="32065" help="32066">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable_killswitch" type="boolean" label="32069" help="32070">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
								<condition setting="vpn_provider" operator="is">99</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="wg_active" type="boolean" label="32072" help="32073">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="wg_owned" type="boolean" label="32074" help="32075">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="home_timeout_sec" type="integer" label="32052" help="32053">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
								<condition setting="vpn_provider" operator="is">99</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<default>5</default>
					<constraints>
						<minimum>3</minimum>
						<step>1</step>
						<maximum>30</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="service" label="32004">
			<group id="8" label="32013">
				<setting id="choose_countries" type="action" label="32043">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<data>RunScript(service.wireguard.manager.linux, mode=country_selector)</data>
					<control type="button" format="action"/>
				</setting>
				<setting id="selected_countries" parent="choose_countries" type="string" label="32007">
					<dependencies>
						<dependency type="visible">
							<condition setting="vpn_provider" operator="is">0</condition>
						</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<enabled>false</enabled>
					</control>
				</setting>
				<setting id="show_codes_EU" type="action" parent="selected_countries" label="32008">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">0</dependency>
					</dependencies>
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=show_codes, region=europe)</data>
					</control>
				</setting>
				<setting id="show_codes_americas" type="action" parent="selected_countries" label="32009">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">0</dependency>
					</dependencies>
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=show_codes, region=americas)</data>
					</control>
				</setting>
				<setting id="show_codes_mea" type="action" parent="selected_countries" label="32010">
					<dependencies>
						<dependency type="visible" setting="vpn_provider">0</dependency>
					</dependencies>
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=show_codes, region=mea)</data>
					</control>
				</setting>
				<setting id="selected_countries_pia" parent="choose_countries" type="string" label="32051">
					<dependencies>
						<dependency type="visible">
							<condition setting="vpn_provider" operator="is">1</condition>
						</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<enabled>false</enabled>
					</control>
				</setting>
				<setting id="filter" parent="choose_countries" type="string" label="32051" help="32076">
					<dependencies>
						<dependency type="visible">
							<condition setting="vpn_provider" operator="is">2</condition>
						</dependency>
					</dependencies>
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<enabled>false</enabled>
					</control>
				</setting>
			</group>
			<group id="13" label="32046">
				<setting id="regen_configs" type="action" label="32011">
					<level>0</level>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<dependencies>
							<dependency type="visible">
								<or>
									<condition setting="vpn_provider" operator="is">0</condition>
									<condition setting="vpn_provider" operator="is">1</condition>
									<condition setting="vpn_provider" operator="is">2</condition>
								</or>
							</dependency>
						</dependencies>
						<close>false</close>
						<data>RunScript(service.wireguard.manager.linux, mode=regen)</data>
					</control>
				</setting>
				<setting id="clear_configs" parent="regen_configs" type="action" label="32017">
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=clear)</data>
					</control>
				</setting>
			</group>
		</category>
		<category id="vpn_mapping" label="32018">
			<group id="2" label="32022">
				<setting id="run_helper" type="action" label="32019]" help="32028">
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">0</condition>
								<condition setting="vpn_provider" operator="is">1</condition>
								<condition setting="vpn_provider" operator="is">2</condition>
								<condition setting="vpn_provider" operator="is">99</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=list_assets)</data>
					</control>
				</setting>
				<setting id="no_mapping" type="action" label="32054" help="32055">
					<level>0</level>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition setting="vpn_provider" operator="is">98</condition>
								<condition setting="vpn_provider" operator="is">-1</condition>
							</or>
						</dependency>
					</dependencies>
					<level>0</level>
					<control type="button" format="action">
						<label>32055</label>
					</control>
				</setting>
			</group>
			<group id="3" label="32023">
				<setting id="vpn_1_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_1_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_1_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_1_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="4" label="32024">
				<setting id="vpn_2_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_2_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_2_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_2_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="5" label="32025">
				<setting id="vpn_3_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_3_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_3_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_3_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="6" label="32026">
				<setting id="vpn_4_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_4_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_4_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_4_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="7" label="32027">
				<setting id="vpn_5_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_5_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_5_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_5_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="10" label="32030">
				<setting id="vpn_6_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_6_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_6_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_6_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="11" label="32031">
				<setting id="vpn_7_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_7_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_7_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_7_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="12" label="32032">
				<setting id="vpn_8_name" type="string" label="32020" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="vpn_8_name" visible="false">true</dependency>
					</dependencies>
				</setting>
				<setting id="map_8_addon" type="string" label="32021" help="32028">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"/>
					<dependencies>
						<dependency type="enable" setting="map_8_addon" visible="false">true</dependency>
					</dependencies>
				</setting>
			</group>
		</category>
		<category id="maintenance" label="32994" help="">
			<group id="98" label="32996">
				<setting id="watchdog_status" type="action" label="32006">
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=status)</data>
					</control>
				</setting>
				<setting id="watchdog_restart" type="action" parent="watchdog_status" label="32005">
					<level>3</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=restart)</data>
					</control>
				</setting>
			</group>
			<group id="16" label="32062">
				<setting id="dnsleaktest" type="action" label="32063" help="32064">
					<level>3</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=dnsleaktest)</data>
					</control>
				</setting>
			</group>
			<group id="14" label="32045">
				<setting id="net_reset" type="action" label="32067" help="32068">
					<level>3</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=net_reset)</data>
					</control>
				</setting>
				<setting id="factory_reset" type="action" label="32015" help="32029">
					<level>3</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=cleanup)</data>
					</control>
				</setting>
			</group>
			<group id="17" label="32084">
				<setting id="log_rotation_enabled" type="boolean" label="32081">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="log_rotation_max_mb" type="number" label="32082">
					<level>0</level>
					<default>10</default>
					<control type="edit" format="integer">
						<heading>32082</heading>
					</control>
				</setting>
				<setting id="log_rotation_backup_count" type="number" label="32083">
					<level>0</level>
					<default>2</default>
					<control type="edit" format="integer">
						<heading>32083</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="legal" label="32998" help="">
			<group id="99" label="32997">
				<setting id="terms_of_service" type="action" label="32993" help="32992">
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=tos)</data>
					</control>
				</setting>
				<setting id="legal_notice" type="action" label="32999" help="32995">
					<level>0</level>
					<control type="button" format="action">
						<data>RunScript(service.wireguard.manager.linux, mode=disclaimer)</data>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>